
.app-body {
  display: flex;
  height: 100%;
  font-family: 'Microsoft YaHei';
  flex-direction: column;
  .app-header {
    height: 64px;
    color: #fff;
  }
  .app-content {
    flex: 1;
  }
  .app-footer {
    height: 64px;
    background: #001529;
    color: #fff;
  }
}